<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Transaction Info</title>
        <link rel="stylesheet" href="/css/transactions.css"/>
	</head>
	<body>
		<div>
            <h2 th:inline="text">
                Transaction ID: [[${transaction.id}]] (
               <span th:text="${transaction.type == 'C'} ? 'Credit' : 'Debit'"></span>
                )
            </h2>
        </div>
        
        <div>

            <span>Date: [[${transaction.date}]]</span> <br/>
            <span>Amount: [[${transaction.amount}]]</span> <br/>
            <span>Description: [[${transaction.description}]]</span>
        

        </div>
        
        <div>
            <a href="/transactions">Back</a>
        </div>
        
	</body>
</html>