<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Online Bank</title>
		<link rel="stylesheet" href="/css/transactions.css"/>
	</head>
	<body>
		<h2>Transaction History</h2>
		
		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Retailer</th>
				<th>Funds In</th>
				<th>Funds Out</th>
			</tr>
            
            <th:block th:each="storedTransaction : ${transactions}"> 
             <tr>
                <td> 
                    <a th:href="@{/transactions/{transactionId}(transactionId=${storedTransaction.id})}"  th:text="${storedTransaction.id}">
                    </a>
                </td>
                 
                <td th:text="${storedTransaction.date}"></td>
                <td th:text="${storedTransaction.retailer}"></td>
                <td> 
                    <span th:if="${storedTransaction.type == 'C'}">[[${storedTransaction.amount}]]
                    </span>
                   
                </td>
                <td>
                    <span th:if="${storedTransaction.type == 'D'}"> 
                        [[${storedTransaction.amount}]]
                    
                    </span>  
                </td>
                 
            </tr>
            </th:block>

		</table>
	</body>
</html>